.navbar-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    z-index: 10;
}
.navbar-logo{
    width: 200px;
    overflow: hidden;
    position: relative;
}
.navbar-logo img{
    object-fit: contain;
    width: 100%;

}
.navbar-menu{
    font-size: 20px;
    width: 500px;
}
.navbar-login{
    width: 100px;
    overflow: hidden;
    position: relative;
}
.navbar-login img{
    object-fit: cover;
    width: 100%;
}

.navbar-list{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 0;
}
.navbar-item{
    font-weight: 500;  
    opacity: .7;
    transition: .1s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.navbar-item-active, .navbar-item:hover{
    opacity: 1;
}
.dropdown-menu{
    position: relative;
}
.dropdown-list.active{
    display: flex;
    opacity: 1;
}
.dropdown-title{
    cursor: pointer;
}
.dropdown-list{
    position: absolute;
    width: 200px;
    left: -20px;
    display: none;
    flex-direction: column;
    opacity: 0;
    transition: .2s;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dropdown-item{
    padding: 10px;
    border-radius: 10px;
}
.dropdown-item:hover{
    background-color: rgb(240, 240, 240);
}