.App{
  max-width: 1340px;
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
ul{
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}