
.App{
  /* max-width: 1340px; */
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  box-sizing: border-box;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
 }
ul{
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
.object-contain{
  overflow: hidden;
  height: 100%;
}
.object-contain img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.object-cover{
  overflow: hidden;
  height: 100%;
}
.object-cover img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text-overflow-4{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}