.blog-main-title{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.blog-detail-container{
    max-width: 1240px;
    margin: auto;
    padding: 0 10px ;
    margin-top: 150px;
    justify-content: space-between;
}
.blog-detail-container h1,
.blog-detail-container h2,
.blog-detail-container h3,
.blog-detail-container h4,
.blog-detail-container h5,
.blog-detail-container h6,
.blog-detail-container p{
    margin: 1rem 0;
}
.blog-detail-content{
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 2px solid #a5a5a5;
}
.blog-detail-content figure{
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    overflow: hidden;
}
.blog-detail-content figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-detail-info{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.blog-detail-info .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.blog-detail-info .right>*{
    margin: 5px 10px;
}
.blog-detail-author{
    display: flex;

}
.blog-detail-author>*{
    margin: 0 10px;
}
.author-info{
    display: flex;
    flex-direction: column;
}
.author-info>*{
    margin: 5px 0;
}
.author-image{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.author-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-detail-side-1{
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 2px solid #a5a5a5;
    padding: 10px;
    width: 300px;
    position: fixed;
}
.side-1-item{
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    
}
/* .blog-detail-side-1>*{
    margin: 10px;
} */
.page-link{position:relative;display:block;padding:.5rem .75rem;margin-left:-1px;line-height:1.25;color:#007bff;background-color:#fff;border:1px solid #dee2e6}
.page-link:hover{z-index:2;color:#0056b3;text-decoration:none;background-color:#e9ecef;border-color:#dee2e6}
.page-link:focus{z-index:2;outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
.page-item:first-child .page-link{margin-left:0;border-top-left-radius:.25rem;border-bottom-left-radius:.25rem}
.page-item:last-child .page-link{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem}
.page-item.active .page-link{z-index:1;color:#fff;background-color:#007bff;border-color:#007bff}
.page-item.disabled .page-link{color:#6c757d;pointer-events:none;cursor:auto;background-color:#fff;border-color:#dee2e6}
.pagination-lg .page-link{padding:.75rem 1.5rem;font-size:1.25rem;line-height:1.5}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination-lg .page-item:first-child .page-link{border-top-left-radius:.3rem;border-bottom-left-radius:.3rem}
.pagination-lg .page-item:last-child .page-link{border-top-right-radius:.3rem;border-bottom-right-radius:.3rem}
.pagination-sm .page-link{padding:.25rem .5rem;font-size:.875rem;line-height:1.5}
.pagination-sm .page-item:first-child .page-link{border-top-left-radius:.2rem;border-bottom-left-radius:.2rem}
.pagination-sm .page-item:last-child .page-link{border-top-right-radius:.2rem;border-bottom-right-radius:.2rem}
.page-item:first-child .page-link{margin-left:0;border-top-left-radius:.25rem;border-bottom-left-radius:.25rem}
.page-item:last-child .page-link{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem}
.page-item.active .page-link{z-index:1;color:#fff;background-color:#007bff;border-color:#007bff}
.page-item.disabled .page-link{color:#6c757d;pointer-events:none;cursor:auto;background-color:#fff;border-color:#dee2e6}
.pagination-lg .page-link{padding:.75rem 1.5rem;font-size:1.25rem;line-height:1.5}
.pagination-lg .page-item:first-child .page-link{border-top-left-radius:.3rem;border-bottom-left-radius:.3rem}
.pagination-lg .page-item:last-child .page-link{border-top-right-radius:.3rem;border-bottom-right-radius:.3rem}
.pagination-sm .page-link{padding:.25rem .5rem;font-size:.875rem;line-height:1.5}
.pagination-sm .page-item:first-child .page-link{border-top-left-radius:.2rem;border-bottom-left-radius:.2rem}
.pagination-sm .page-item:last-child .page-link{border-top-right-radius:.2rem;border-bottom-right-radius:.2rem}